// Colours

$main-color1: #67aed9;
$main-color2: #4ea1d2;
$main-color3: #0379c0;
$main-color4: #026cac;
$main-color5: #026099;
$main-color6: #025486;

// $main-color1: #daa520;
// $main-color2: #c4941c;
// $main-color3: #ae8419;
// $main-color4: #987316;
// $main-color5: #826313;
// $main-color6: #6d5210;

$snd-color1: #03c04a;
$snd-color2: #02ac42;
$snd-color3: #02993b;
$snd-color4: #028633;
$snd-color5: #01732c;
$snd-color6: #016025;

// $snd-color1: #603e9e;
// $snd-color2: #56378e;
// $snd-color3: #4c317e;
// $snd-color4: #432b6e;
// $snd-color5: #39255e;
// $snd-color6: #301f4f;

$blk-color1: #161616;
$blk-color2: #1e1e1e;
$blk-color3: #252525;

$wht-color1: #ededed;
$wht-color2: #dbdbdb;
$wht-color3: #c9c9c9;

// Font Sizes
$fnt-small: 1rem;
$fnt-reg: 1.6rem;
$fnt-big: 3rem;
$fnt-vbig: 4rem;

//Break points

$bp-big: 1200px;
$bp-med: 800px;
$bp-small: 600px;
