.expertise {
  width: 80vw;
  margin: 0 auto;
  font-size: 1.6rem;

  &--sub {
    animation: slideInLeft 1s ease;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__back {
    text-decoration: none;
    color: $main-color5;
    transition: all 0.2s ease;
  }

  &__link {
    text-decoration: none;
    text-shadow: 3px 3px 3rem black;
  }

  &__redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    width: 50rem;
    background-color: $snd-color1;
    background-blend-mode: multiply;
    background-size: cover;
    margin: 1rem;

    color: $wht-color1;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 1000;

    transition: all 0.2s ease;

    &:hover {
      font-size: 5.5rem;
    }

    &--freedom {
      animation: slideInRight 1s;
      background-image: url("../Images/Animals/freedom.jpg");
    }

    &--judicial {
      animation: slideInLeft 1s;
      background-image: url("../Images/Animals/judicial.jpg");
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__img {
    outline: 0.75rem solid $main-color5;
    margin: 1.5rem;

    &--1 {
      height: 25rem;
      float: left;
    }

    &--2 {
      height: 30rem;
      float: right;
    }
  }
}
