.footer {
  height: 15rem;
  background-color: $snd-color5;
  color: $wht-color1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__legal {
    width: 70%;
  }

  &__social {
    &--icon {
      height: 5rem;
      width: auto;
      padding: 1rem;
      margin: 0.5rem;
      background-color: $snd-color1;
      clip-path: circle();
      transition: all 0.2s ease;

      &:hover {
        background-color: $wht-color3;
      }
    }
  }
}
